# Production URL for your Backend
# When deploying to Vercel, add this variable in Project Settings
NEXT_PUBLIC_API_URL=https://your-backend-app.vercel.app/api

# Local Development
# NEXT_PUBLIC_API_URL=http://localhost:8000/api

# Database
DATABASE_URL="postgresql://user:password@host:port/db"

# Cloudinary (Images)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your_cloud_name"
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET="RenovaMarket"
